includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
    level: max
    ignoreErrors:
        -
            message: '#Property App\\Client\\IsbnClient\:\:\$[a-zA-Z]* is never read, only written.#'
            path: app/Client/IsbnClient.php
    excludePaths:
